package template

templ Tabbed(tabs []Tab, selected int, target string) {
	<div role="tablist" class="px-4 tabs tabs-border">
		for i,v := range(tabs) {
			<button
				role="tab"
				hx-target={ target }
				hx-get={ string(templ.URL(v.URL)) }
				if i==selected {
					class="tab tab-active"
				} else {
					class="tab"
				}
			>
				{ v.Name }
			</button>
		}
	</div>
	<div class="py-3 px-4 sm:py-6 sm:px-8 card bg-base-200">
		@tabs[selected].Content
	</div>
}
